@import "scss-partials/colors";
@import "scss-partials/responsiveness";

.panel-container {
  height:100%;
  display: grid;
  grid-template-areas: 'preview' 'form';

  @include desktop {
    grid-template-areas: 'form preview';
  }
}

.panel {
  flex: 0.5;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-panel {
  @extend .panel;
  grid-area: form;
  @include desktop {
    justify-content: flex-end;
  }
}

.preview-panel {
  @extend .panel;
  grid-area: preview;
  background-color: $light-gray-1;
  @include desktop {
    justify-content: flex-start;
  }
}

.preview-container {
  min-width: 430px;
}

.form-container{
  width: 100%;
  @include desktop {
    width: initial;
  }
}

.preview-title {
  display: block;
  width: 100%;
  text-align: right;
  color: $light-gray-2;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  margin-bottom: 10px;
}

.fieldset {
  border: 0;
  padding: 0;
  margin-top: 30px;
}

.legend {
  font-size: 0.625em;
  color: $light-gray-2;
  display: block;
  padding: 0;
  border-bottom: 1px solid rgba($light-gray-2, 0.3);
  width: 100%;
  margin: 0 0 30px;
}

.form-input-group {
  display: grid;

  grid-template-columns: 1fr;
  grid-gap: 1em 1.666em;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }

}
