@import "scss-partials/colors";
@import "scss-partials/responsiveness";

.fieldset {
  border: 0;
  padding: 0;
  margin-top: 30px;
}

.legend {
  font-size: 0.625em;
  color: $light-gray-2;
  display: block;
  padding: 0;
  border-bottom: 1px solid rgba($light-gray-2, 0.3);
  width: 100%;
  margin: 0 0 30px;
}

.form-input-group {
  display: grid;

  grid-template-columns: 1fr;
  grid-gap: 1em 1.666em;
  @include tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}
